//
// Colors
//

$brand-yellow           = #f3f871
$brand-dark             = #282f33
$brand-grey             = #828a8f
$brand-grey-light       = #bfc1c2
$brand-grey-dimmed      = #5c6367


//
// Scaffolding
//
$body-bg                ?= $brand-dark
$text-color             ?= $brand-grey

$link-color             ?= $brand-grey-light
$link-hover-color       ?= lighten($link-color, 15%)
$link-hover-decoration  ?= none


//
// Typography
//
$font-size-base         ?= 16px
$font-size-large        ?= ceil(($font-size-base * 1.25))
$font-size-small        ?= ceil(($font-size-base * 0.8))

$font-size-h1           ?= floor(($font-size-base * 2))
$font-size-h2           ?= floor(($font-size-base * 1.7))
$font-size-h3           ?= ceil(($font-size-base * 1.4))
$font-size-h4           ?= ceil(($font-size-base * 1.25))
$font-size-h5           ?= $font-size-base
$font-size-h6           ?= ceil(($font-size-base * 0.85))

$font-family-base       ?= 'futura-pt', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif
$font-weight-base       ?= 300

$line-height-base       ?= 1.428571429
$line-height-computed   ?= floor(($font-size-base * $line-height-base))

$headings-font-family   ?= $font-family-base
$headings-font-weight   ?= 300
$headings-line-height   ?= 1.2
$headings-color         ?= inherit


//
// Components
//
$padding-base-vertical ?=    6px
$padding-base-horizontal ?=  12px

$padding-large-vertical ?=   10px
$padding-large-horizontal ?= 16px

$padding-small-vertical ?=   5px
$padding-small-horizontal ?= 10px

$padding-xs-vertical ?=      1px
$padding-xs-horizontal ?=    5px

$line-height-large ?=        1.3333333 // extra decimals for Win 8.1 Chrome
$line-height-small ?=        1.5

$border-radius-base ?=       0
$border-radius-large ?=      0
$border-radius-small ?=      0


//
// Media queries breakpoints
//
$screen-sm-min              ?= 600px
$screen-md-min              ?= 768px
$screen-lg-min              ?= 1024px

// So media queries don't overlap when required
$screen-xs-max              ?= ($screen-sm-min - 1)
$screen-sm-max              ?= ($screen-md-min - 1)
$screen-md-max              ?= ($screen-lg-min - 1)

// Media Query shortcuts
$screen-sm ?= 'only screen and (min-width: ' + $screen-sm-min + ')'
$screen-md ?= 'only screen and (min-width: ' + $screen-md-min + ')'
$screen-lg ?= 'only screen and (min-width: ' + $screen-lg-min + ')'

//
// Container max sizes
//
$container-sm               ?= 400px
$container-md               ?= 800px
$container-lg               ?= 1100px

//
// Forms
//
$input-color                ?= $brand-grey
$input-border-radius        ?= 2px
$input-border-radius-large  ?= 0
$input-border-radius-small  ?= 0

$input-border-focus         ?= #66afe9
$input-color-placeholder    ?= $brand-grey

$input-height-base          ?= ($line-height-computed + ($padding-base-vertical * 2) + 2)
$input-height-large         ?= (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2)
$input-height-small         ?= (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2)

$legend-color               ?= $brand-grey
$legend-border-color        ?= $brand-grey

$input-group-addon-bg       ?= $brand-grey
$input-group-addon-border-color ?= $input-border
