//
// Crashpad Site
// --------------
// The base file
//

//
// Settings
//
vendors                     = official       // Stylus' @keyframes settings
vendor-prefixes             = official       // Nib vendor prefixes
support-for-ie              = false          // Nib IE 8 support

// Normalize all the things
@import '../../../node_modules/normalize-css/normalize.css'
@import '../../../node_modules/normalize-opentype.css/normalize-opentype.css'

// Nib Nib
@import 'nib'

@import '_variables'
@import '_mixins'

@import '_scaffolding'
@import '_typography'
@import '_grid'
@import '_forms'
@import '_buttons'

@import 'icons'
@import 'parsleyjs'
@import 'team'
@import 'page-start'
@import 'page-thanks'
