
.logo
    margin-top: $line-height-computed
    margin-bottom: ($line-height-computed/2)

    @media $screen-sm
        margin-top: ($line-height-computed*2)

    fill: $brand-yellow
    width: 80px
    height: 80px

.title,
.tagline
    margin-top: 0
    margin-bottom: 0
    font-size: $font-size-h3 // fallback
    font-size: 9.5vw

    @media $screen-sm
        font-size: $font-size-h1

.title,
.section-title
    color: $brand-yellow

.description
    font-size: $font-size-large
    margin-top: ($line-height-computed*2)
    margin-bottom: 0
    color: $headings-color

.section
    padding: ($line-height-computed*2) 0

.section-title
    font-size: $font-size-h3
    margin-bottom: ($line-height-computed*2)

.form-contact
    select.form-control
        height: 37px
    .btn
        margin-top: $line-height-computed

.footer
    margin-top: ($line-height-computed*2)
