
.logo
    margin-top: ($line-height-computed*2)

.title
    margin: 0

.tagline
    margin: 0
    margin-bottom: ($line-height-computed*2)

.title,
.tagline
    font-size: $font-size-h1

.title,
.section-title
    color: $brand-yellow

.description
    font-size: $font-size-large
    margin-top: ($line-height-computed*2)
    margin-bottom: 0

.section
    padding: ($line-height-computed*2) 0

.section-title
    font-size: $font-size-h3
    margin-bottom: ($line-height-computed*2)

.form-contact
    select.form-control
        height: 53px
    .btn
        margin-top: $line-height-computed

.footer
    margin-top: ($line-height-computed*2)
