
.parsley-success.form-control
    &,
    &:focus
        border-color: green
        placeholder(green)

.parsley-error.form-control
    &,
    &:focus
        border-color: red
        color: red
        placeholder(red)
