//
// Crew Unit
//
.member
    margin-bottom: $line-height-computed*2

.member-title
    font-size: $font-size-h4

.member-profession
    color: $brand-grey-dimmed

.member-avatar
    width: 80px
    height: 80px
    margin: auto
    background: $brand-grey
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)

.member-links
    .icon
        margin: 10px 5px 0 5px
        fill: $brand-grey-dimmed
        transition: fill .2s ease-in-out

    a:hover .icon,
    a:focus .icon
        fill: $link-color
