//
// Crew Unit
//
.member
    margin-bottom: $line-height-computed*2

.member-title
    font-size: $font-size-h4
    margin-top: ($line-height-computed/1.5)

.member-profession
    color: $brand-grey-dimmed
    display: block
    font-size: $font-size-base

.member-avatar
    width: 120px
    height: 120px
    margin: auto
    background: $brand-grey
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)

    img
        max-width: 100%
        max-height: 100%

.member-links
    .icon
        margin: 10px 5px 0 5px
        fill: $brand-grey-dimmed
        transition: fill .2s ease-in-out

    a:hover .icon,
    a:focus .icon
        fill: $link-color
