//
// Crew Unit
//
.member-title
    font-size: $font-size-h4

.member-profession
    color: $brand-grey-dimmed

.member-avatar
    width: 80px
    height: 80px
    margin: auto
    background: $brand-grey
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
