---
layout: default.hbs
---

<header class="section header">
    <hgroup>
        <img class="logo" src="/assets/img/logo.svg" alt="Logo Crashpad" />
        <h1 class="title">{{ site.name }}</h1>
        <h2 class="tagline">{{ site.tagline }}</h2>
    </hgroup>

    <p class="description">{{ site.description }}</p>
</header>

<section class="section" id="crew">
    <h1 class="section-title">The Crew</h1>

    {{> team }}

</section>

<section class="section" id="contact">
    <h1 class="section-title">Get In Touch</h1>

    {{> contact}}

</section>
