---
layout: default.hbs
---

<header class="section header">
    <hgroup>
        <svg class="logo" role="img" aria-labelledby="title desc">
            <title id="title">Logo</title>
            <desc id="desc">Logo of Crashpad Collective</desc>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.svg#logo"></use>
        </svg>
        <h1 class="title">{{ site.name }}</h1>
        <h2 class="tagline">{{ site.tagline }}</h2>
    </hgroup>

    <p class="description">{{ site.description }}</p>
</header>

<section class="section" id="crew">
    <h1 class="section-title">The Crew</h1>

    {{> team }}

</section>

<section class="section" id="contact">
    <h1 class="section-title">Get In Touch</h1>

    {{> contact}}

</section>
