---
layout: default.hbs
title: Thanks!
---

<header>
    <hgroup>
        <a href="/" title="Back to site">
            <svg class="logo" role="img" aria-labelledby="title desc">
                <title id="title">Logo</title>
                <desc id="desc">Logo of Crashpad Collective</desc>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/sprite.svg#logo"></use>
            </svg>
        </a>
    </hgroup>
</header>

<h1>Thanks!</h1>

<p>We try to get back to you in no time and we usually reply within 24 hours.</p>

<a href="/">Back to site</a>
